@import "../../../variables.scss";

.slider_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $slider_gradient;
  padding: 4rem 7rem 5rem 7rem;
  border-radius: 1.5rem;
  width: 80%;
}

.header_text {
  color: $primary_white;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}

.h1_header {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

.h2_header {
  font-size: 1.375rem;
}

.divider {
  width: 3.5rem;
  border: 1px solid $primary_white;
  margin-bottom: 5rem;
}

.information_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
}

.circle_image {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
}

.user_photo {
  border: 3px solid $primary_white;
  border-radius: 50%;
}

.user_info {
  display: flex;
  flex-direction: column;
}

.description_text {
  color: $primary_white;
  opacity: 0.9;
  font-style: normal;
  font-weight: 400;
  max-width: 26.25rem;
}

.p1_description {
  font-size: 1.1875rem;
  line-height: 1.875rem;
}

.p2_description {
  font-size: 1.125rem;
  line-height: 3rem;
}
