// Цвета приложения

$primary_white: #ffffff;
$primary_black: #000000;
$primary_blue: #458ff6;
$primary_gray: #7d7987;

$secondary_black: #1f1534;

$logo_text: #233348;

// Тень

$services_shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);

// Градиент

$slider_gradient: linear-gradient(208deg, #67c3f3 9.05%, #5a98f2 76.74%);
$footer_gradient: linear-gradient(183deg, #67c3f3 -8.57%, #5a98f2 82.96%);
