// Цвета приложения

$primary_white: #ffffff;
$primary_black: #000000;
$primary_blue: #458ff6;
$primary_gray: #7d7987;

$secondary_black: #1f1534;
$secondary_blue: #5b9bf3;

$logo_text: #233348;

$primary_pink: #ca4e9d;

// Тень

$hover_shadow: 5px 5px 7px -3px rgba(34, 60, 80, 0.34);
$services_shadow: 3px 5px 16px -5px rgba(34, 60, 80, 0.26);

// Градиент

$slider_gradient: linear-gradient(208deg, #67c3f3 9.05%, #5a98f2 76.74%);
$footer_gradient: linear-gradient(183deg, #67c3f3 -8.57%, #5a98f2 82.96%);
